@model IEnumerable<ZadanieRekrutacyjne.Models.Tree>

@{
    ViewBag.Title = "Index";
}



<h2>Widok struktury drzewa</h2>


@using (Ajax.BeginForm(new AjaxOptions
{
    Url = Url.Action("Treeview", "Tree"),
    HttpMethod = "get",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "treeview"
}))
{
    <div class="form-group form-inline">
        
        <select name="sortType" class="form-control">
            <option value="" selected>Wybierz sortowanie</option>
            <option value="1">Sortuj po nazwie A-Z</option>
            <option value="2">Sortuj po nazwie Z-A</option>
        </select>
        <input type="submit" value="Sortuj" class="btn btn-primary" />
    </div>
}


<div class="treeview">
    <ul>      
            @Html.Action("Treeview", "Tree")    
    </ul>
</div>

<hr />
<div >
    @if(User.IsInRole("Admin"))
    {
        <h3 class="text-center">Legenda</h3>
        <p class="text-center">
            <i class="fa fa-plus-circle fa-lg" style="color:green;"></i> - dodaj dziecko dla wybranego wierzchołka <br />
            <i class="fa fa-edit fa-lg"></i> - edytuj nazwę wybranego elementu <br />
            <i class="fa fa-arrow-up fa-lg"></i> - przenieś wierzchołek razem z dziećmi do innej gałęzi <br />
            <i class="fa fa-minus-circle fa-lg" style="color:red;"></i> - usuń ten wierzchłek a dzieci przesuń w górę hierarchii<br />
            <i class="fa fa-trash fa-lg"></i> - usuń ten wierzchłokem razem z wszystkimi dziećmi
        </p>
    }
    else
    {
    @Html.ActionLink("Zaloguj się ","Login","Account") <p style="display:inline-block">aby uzyskać dostęp do zarządzania drzewem</p>
    }
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $(".treeview li>ul").css('display', 'none');
            $(".collapsible").click(function (e) {
                e.preventDefault();
                var clicked = $(this).attr('id');
                $("#"+clicked+" i").closest("i").toggleClass("fa-angle-right fa-angle-down");
                $("#" + clicked + " i").closest('li').children('ul').slideToggle();
            });
        });
    </script>
}
