@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Zadanie rekrutacyjne Jakub Zimny</h1>
    <p class="lead">
        Zadanie polega na oprogramowaniu mechanizmu zarządzania strukturą drzewiastą wraz z implementacją poprawnej obsługi formularzy.
    </p>
    <p><a href="/Tree" class="btn btn-primary btn-lg">Zobacz rozwiązanie &raquo;</a></p>
</div>

<div class="row">
    
        <div class="col-md-4">
            <h2>Założenia dotyczące realizacji zadania:</h2>
            <p>
                <ul>
                    <li>
                        struktura drzewiasta ma umożliwiać działanie na dowolnej ilości poziomów,
                    </li>
                    <li>
                        funkcje jakie mają być dostępne dla administratora: dodawanie, edycja, usuwania, sortowanie (zarówno węzłów jak i liści), przenoszenie węzłów do innych gałęzi,
                    </li>
                    <li>
                        powinna być możliwość rozwinięcia całej struktury lub wybranych węzłów,
                    </li>
                    <li>
                        powinny zostać zastosowane zabezpieczenia uniemożliwiające wprowadzanie nieprawidłowych danych,
                    </li>
                    <li>
                        wskazane zastosowanie skryptów client-side (własnych, nie gotowych rozwiązań jak np. jsTree)
                    </li>
                    <li>
                        obsługa formularzy powinna zawierać klasę do generowania formularzy wraz z wizualizacją, walidacją oraz zabezpieczeniami.
                    </li>
                </ul>
            </p>    
        </div>


        <div class="col-md-4">
            <h2>Technologie użyte w aplikacji</h2>
            <p>
                Jest to aplikacja internetowa ASP.NET Framework MVC.<br />
                Aplikacja korzysta z bazy danych MSSQL utworzonej poprzez podejście Code-First z użyciem silnika bazodanowego MS LocalDB <br />
                W aplikacji wykorzystałem HTML,CSS,JS oraz obsługę ikon z fontawesome.com
            </p>
        </div>

     <div class="col-md-4">
            <h2>Dane do zalogowania się jako administrator</h2>
            <p>
                Login: admin@gmail.com<br />
                Hasło: zaq1@WSX <br />
                Tworzenie nowych kont jest możliwe tylko jako administator!
            </p>
        </div>

</div>