.treeview ul {
    font: 20px Arial, Sans-Serif;
    margin: 0px;
    padding-left: 20px;
    list-style: none;
}

.treeview > li > a {
    font-weight: bold;
}

.treeview li {
    padding: 4px;
    font-size: 20px;
    text-decoration: none;
    width: auto;
}



